<c-vars class="" value></c-vars>
<div
  role="tabpanel"
  x-data="{ own: $el.dataset.value }" data-value="{{ value }}" x-show="activeTab === own"
  x-transition:enter="transition ease-out duration-200"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  class="mt-2 ring-offset-background focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 {% if class %}{{ class }}{% endif %}"
  x-bind:data-state="activeTab === own ? 'active' : 'inactive'"
  data-slot="tabs-content" {{ attrs }}
>
  {{ slot }}
</div>
