<button @click="toggle()" type="button" class="
    inline-flex size-7 items-center justify-center gap-2 rounded-md text-sm
    font-medium whitespace-nowrap transition-colors
    hover:bg-accent hover:text-accent-foreground
    focus-visible:outline-hidden focus-visible:ring-1 focus-visible:ring-ring
    disabled:pointer-events-none disabled:opacity-50
    [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0
    {% if class %}
        {{ class }}
    {% endif %}
    " data-sidebar="trigger" data-slot="sidebar-trigger" {{ attrs }}>
    <c-icon name="panel-left" />
    <span class="sr-only">Toggle Sidebar</span>
</button>
