<c-vars open_delay="300" close_delay="150"></c-vars>

<div
    x-data="{
        open: false,
        timer: null,
        show() {
            clearTimeout(this.timer);
            this.timer = setTimeout(() => this.open = true, Number($el.dataset.openDelay));
        },
        hide() {
            clearTimeout(this.timer);
            this.timer = setTimeout(() => this.open = false, Number($el.dataset.closeDelay));
        }
    }"
    class="relative inline-block {% if class %}{{ class }}{% endif %}"
    data-open-delay="{{ open_delay }}" data-close-delay="{{ close_delay }}" data-slot="hover-card"
    {{ attrs }}
>
    {{ slot }}
</div>
