<c-vars class=""></c-vars>

<div class="
    relative flex size-8 shrink-0 items-center justify-center rounded-full
    bg-muted text-sm text-muted-foreground ring-2 ring-background [&>svg]:size-4
    group-has-data-[size=lg]/avatar-group:size-10
    group-has-data-[size=sm]/avatar-group:size-6
    group-has-data-[size=lg]/avatar-group:[&>svg]:size-5
    group-has-data-[size=sm]/avatar-group:[&>svg]:size-3
    {% if class %}
        {{ class }}
    {% endif %}
    " data-slot="avatar-group-count" {{ attrs }}>
    {{ slot }}
</div>
