<c-vars class="" variant="outline" type="button"></c-vars>

<button type="{{ type }}" class="
    absolute size-8 rounded-full
    inline-flex items-center justify-center gap-2
    whitespace-nowrap text-sm font-medium transition-colors
    focus-visible:outline-hidden focus-visible:ring-1 focus-visible:ring-ring
    disabled:pointer-events-none disabled:opacity-50
    [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0

    {% if variant == 'default' %}bg-primary text-primary-foreground shadow-sm hover:bg-primary/90
    {% elif variant == 'destructive' %}bg-destructive text-destructive-foreground shadow-xs hover:bg-destructive/90
    {% elif variant == 'outline' %}border border-input bg-background shadow-xs hover:bg-accent hover:text-accent-foreground
    {% elif variant == 'secondary' %}bg-secondary text-secondary-foreground shadow-xs hover:bg-secondary/80
    {% elif variant == 'ghost' %}hover:bg-accent hover:text-accent-foreground
    {% elif variant == 'link' %}text-primary underline-offset-4 hover:underline
    {% endif %}

    group-data-[orientation=horizontal]/carousel:top-1/2
    group-data-[orientation=horizontal]/carousel:-left-12
    group-data-[orientation=horizontal]/carousel:-translate-y-1/2
    group-data-[orientation=vertical]/carousel:-top-12
    group-data-[orientation=vertical]/carousel:left-1/2
    group-data-[orientation=vertical]/carousel:-translate-x-1/2
    group-data-[orientation=vertical]/carousel:rotate-90

    {% if class %}
        {{ class }}
    {% endif %}
    " data-slot="carousel-previous" x-bind:disabled="!canPrevious" x-on:click="previous()" {{ attrs }}>
    <c-icon name="arrow-left" class="size-4" />
    <span class="sr-only">Previous slide</span>
    {{ slot }}
</button>
