<c-vars class="" type="text"></c-vars>

<input type="{{ type }}" class="
    h-8 min-h-11 w-full min-w-0 rounded-lg border border-input bg-transparent
    px-2.5 py-1 text-base outline-none
    transition-[color,box-shadow,background-color]
    placeholder:text-muted-foreground selection:bg-primary
    selection:text-primary-foreground dark:bg-input/30
    focus-visible:border-ring focus-visible:ring-3 focus-visible:ring-ring/50
    aria-invalid:border-destructive aria-invalid:ring-3
    aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40
    disabled:pointer-events-none disabled:cursor-not-allowed
    disabled:bg-input/50 disabled:opacity-50 sm:min-h-0 md:text-sm
    {% if class %}
        {{ class }}
    {% endif %}
    " data-slot="questionnaire-input" {{ attrs }}>
