<c-vars class=""></c-vars>

<label
    class="
    text-sm font-medium leading-none
    peer-disabled:cursor-not-allowed peer-disabled:opacity-70
    group/field-label peer/field-label flex w-fit gap-2 leading-snug
    group-data-[disabled=true]/field:opacity-50
    has-[>[data-slot=field]]:w-full has-[>[data-slot=field]]:flex-col
    has-[>[data-slot=field]]:rounded-md has-[>[data-slot=field]]:border
    [&>*]:data-[slot=field]:p-4
    has-data-[state=checked]:border-primary has-data-[state=checked]:bg-primary/5
    dark:has-data-[state=checked]:bg-primary/10
    {% if class %}
        {{ class }}
    {% endif %}
    "
    data-slot="field-label"
    {{ attrs }}
>
    {{ slot }}
</label>
