<c-vars value></c-vars>

<h3 class="flex">
  <button @click="toggle('{{ value }}')"
    class="flex flex-1 items-center justify-between py-4 text-sm font-medium hover:underline [&[data-state=open]>svg]:rotate-180 {% if class %}{{ class }}{% endif %}"
    x-bind:aria-expanded="isOpen('{{ value }}')" x-bind:data-state="isOpen('{{ value }}') ? 'open' : 'closed'" {{ attrs
    }}>
    {{ slot }}
    <c-icon name="chevron-down"
      class="size-4 shrink-0 text-muted-foreground transition-transform duration-200 ease-out" />
  </button>
</h3>
