{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>django-shadcn</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/collapse.min.js' %}" defer></script>
    <script src="{% static 'js/alpine.min.js' %}" defer></script>
  </head>
  <body class="min-h-screen bg-background p-10">
    <!-- Put the component you are working on here. -->
    <div class="mx-auto flex max-w-lg flex-col gap-4">
      <c-button>Button</c-button>
      <c-alert>
        <c-alert.title>Alert</c-alert.title>
        <c-alert.description>
          Replace this with whatever you are building.
        </c-alert.description>
      </c-alert>
    </div>
  </body>
</html>
